#body {
    background: url("../../../common/image/backgroundImage.jpg") no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
}

.button-registration {
    background-color: #34d1eb;
    width: 50.9rem;
    color: white;
    height: 6rem;
    border-radius: 3rem;
    border: none;
    outline: medium;
    font-size: 2.3rem;
}

.content {
    width: 63.7rem;
    height: 61.7rem;
    background-color: white;
    border-radius: 4rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
}

.text-title {
    font-size: 3.7rem;
    color: #34d1eb;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-family: "PingFang SC";
}

.input-phone {
    width: 50.9rem;
    border-radius: 1rem;
    height: 5.8rem;
    border: 1px solid #becbcc;
    padding: 0 2rem;
    margin-bottom: 3rem;
    box-sizing: border-box;
}

.input {
    width: 100%;
    border: none;
    outline: medium;
    font-size: 1.6rem;
    margin: 2.1rem 0;
}

.input-btn {
    width: 50.9rem;
    display: flex;
    flex-direction: row;
    border: 1px solid #becbcc;
    height: 5.8rem;
    border-radius: 1rem;
    padding: 0 0 0 2rem;
    margin-bottom: 3rem;
    box-sizing: border-box;
}

.input-code {
    flex: 7;
    border-radius: 1rem;
    line-height: 5.8rem;
    border: none;
    outline: medium;
    font-size: 1.6rem;
}

.btn-verCode {
    flex: 3;
    background-color: #34d1eb;
    border-radius: 1rem;
    color: white;
    line-height: 5.8rem;
    border: none;
    outline: medium;
    font-size: 1.6rem
}

.iconfont {
    font-size: 3rem;
}

.iconfont-i {
    color: rgb(204, 204, 204);
    position: absolute;
    left: 3.6rem;
    top: 4rem;
    width: 4rem;
    height: 4rem;
}
