.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 3rem;
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 3rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.font_family {
    font-family:"font_family" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
html,
body {
    background-color: #f6f6f6;
    font-family: "PingFang SC";
}

.password_m {
    height: 11.6rem;
    font-size: 2.5rem;
    line-height: 11.6rem;
    padding-left: 4rem;
    background-color: #FFFFFF;
    position: relative;
}

.password_b {
    margin-top: 1rem;
    background-color: #FFFFFF;
    padding-top: 5rem;
    padding-bottom: 12rem;
}

.x_pwd {
    width: 65rem;
    margin: 0 auto;
}

.x_pwd_t {
    height: 6.5rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 1.3rem;
}

.x_pwd_t>span:first-child {
    font-size: 2.2rem;
    color: #2d2d2d;
}

.x_pwd_t>span:last-child {
    font-size: 2.2rem;
    color: #cdcdcd;
}

.inp_box {
    display: inline-block;
    position: relative;
}

.inp_div {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.pwdSubmint {
    width: 35rem;
    height: 6rem;
    border-radius: 100px;
    background-color: #1ada95;
    margin: 12rem auto 0 auto;
    text-align: center;
    line-height: 6rem;
    font-size: 2.2rem;
    color: #FFFFFF;
}

.forgetPwd {
    line-height: 6rem;
    text-align: center;
    font-size: 2.2rem;
    color: #9a9a9a;
    margin: 0 auto;
}

.pwd_mask {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    z-index: 1;
}

.pwd_mask>div {
    z-index: 2;
}

.pwd_popup {
    position: relative;
    width: 42rem;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 2rem 0 3rem 0;
    text-align: center;
}

.pwd_popup_t {
    width: 4rem;
    height: 0.6rem;
    border-radius: 100px;
    background: -webkit-linear-gradient(30deg, #00abb5, #00abb6, #07afb9);
    background: linear-gradient(30deg, #00abb5, #00abb6, #07afb9);
    margin: auto;
}

.pwd_popup>input {
    width: 38.3rem;
    height: 5.2rem;
    border-radius: 2px;
    background-color: #f1f1f1;
    margin-top: 4rem;
    font-size: 1.6rem;
    outline: none;
    border: 0;
}

.pwd_popup_b {
    width: 28.5rem;
    height: 4.5rem;
    margin: 4.7rem auto 0 auto;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.pwd_popup_b>div {
    width: 13rem;
    height: 100%;
    border-radius: 100px;
    text-align: center;
    line-height: 4.5rem;
    background-color: #1ada95;
    color: #FFFFFF;
    font-size: 2.2rem;
}

.pwdw {
    font-size: 2.1rem;
    margin-top: 2rem;
}