[v-cloak] {
    display: none;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 2rem;
}

.top {
    width: 100%;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    z-index: 10;
    /*border-bottom: 0.1rem solid #f9f9f9;*/
}

.return {
    padding: 1.2rem 2.1rem;
}

h1 {
    font-family: PingFangSC-Medium;
    font-size: 1.8rem;
    color: #223330;
    line-height: 4.4rem;
}
.content{
    padding: 0 2.1rem;
    margin-top: 4.6rem;
}
.introduction{
     width: 100%;
     border-bottom: 1px solid #cfd0d2;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
input{
    width: 95%;
    font-size: 1.6rem;
    caret-color: #00b596;
    color: #708782;
    padding: 1rem 0;
    height:4rem;
    box-sizing: border-box;
}
span{
  width: 100%;
	font-family: PingFangSC-Regular;
	font-size: 1.4rem;
	color: #c9c9c9;
  text-align: right;
  margin-top: 1rem;
  margin-bottom: 1.6rem;
}
button{
  display: block;
	width: 35rem;
	height: 5rem;
  line-height: 3.5rem;
	background-color: #00b596;
	border-radius: 1rem;
  font-size: 1.8rem;
  color: #fff;
  margin: 5rem auto;
  font-family: PingFangSC-Medium;
}
