
.body {
    background-color: white;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 8rem;
}

.iconfont {
    font-size: 3rem;
    color: #bbbbbd;
}

.icon-wrap {
    position: absolute;
    top: 3.7rem;
    left: 3.7rem;
    width: 6.4rem;
    height: 6.4rem;
    z-index: 999;
}

.text-title {
    font-size: 3rem;
    color: rgb(7, 175, 185);
    width: 100%;
    text-align: center;
    height: 9.6rem;
    line-height: 9.6rem;
    font-family: "PingFang SC";
}

.title-wrap {
    width: 100%;
    position: relative;
    height: 9rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.icon-wrap-right {
    position: absolute;
    top: 4rem;
    right: 3rem;
    height: 6.4rem;
}

.text-btn {
    color: #bbbbbd;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    margin-top: 3.2rem;
}

.iconfont-btn {
    font-size: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.reading-content {
    width: 100%;
    height: calc(100% - 17rem);
    border-radius: 3rem 3rem 0 0;
    padding: 5rem;
    box-sizing: border-box;
    background-color: #f5f6f7;
    position: relative;
}

.footer {
    height: 8rem;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    border-top: 1px solid #becbcc;
    align-items: center;
}

.footer-icon-wrap {
    position: absolute;
    left: 5rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    height: 6rem;
    align-items: center;
    border-radius: 3rem;
    background-color: #edeeef;
    padding: 0 0.5rem;
}

.footer-icon {
    display: flex;
    flex-direction: row;
}

.answer-name {
    width: 100%;
    text-align: center;
    font-size: 2.8rem;
    color: #333333;
    margin-bottom: 3rem;
    font-family: "PingFang SC";
}

.option {
    width: 50%;
    height: 6rem;
    border: 1px solid #cbd5d6;
    border-radius: 1.6rem;
    background-color: white;
    box-sizing: border-box;
    font-size: 2.3rem;
    color: #252525;
    outline: medium;
    margin-bottom: 2.5rem;
}

.option-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-bar {
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #00a9b4, #00d98c);
    border-radius: 2px;
    transition: 180s linear;
}

.header-bar-wrap {
    width: 70%;
    height: 4px;
    background: #becbcc;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.selected {
    background-color: #1cda95;
    color: white;
}

.icon-wrap-footer {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    border-radius: 2.5rem;
    background-color: white;
}

.icon-footer {
    font-size: 5rem;
}

.icon-left {
    font-size: 5rem;
}

.icon-button {
    height: 5rem;
    width: 5rem;
    border-radius: 2.5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.submit-btn-wrap {
    height: 100%;
    position: absolute;
    right: 5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.sub-btn {
    height: 6rem;
    width: 13.8rem;
    background-color: #becbcc;
    color: white;
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    font-family: "PingFang SC";
}

.answer-alert {
    display: flex;
    width: 0;
    height: 0;
    background-color: #1adb96;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skewX(170deg);
    transition: 0.3s cubic-bezier(1, 1.72, .9, 1.8);
    border-radius: 3rem;
    color: white;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    opacity: 0;
    flex-direction: column;
}

.error {
    display: flex;
    height: 20rem;
    width: 50rem;
    background-color: red;
    opacity: 1;
}

.correct {
    display: flex;
    height: 20rem;
    width: 50rem;
    opacity: 1;
}
